@import "reset";
@import "bourbon/bourbon";
@import "mixins";

@include font-face(sourcesans, '/fonts/sourcesanspro-light-webfont');
@include font-face(sourcesans, '/fonts/sourcesanspro-semibold-webfont', bold);
@include font-face(icons, '/fonts/classiques-icons', bold);

* {
  box-sizing: border-box;
}

// base
body {
  background: #e7edf6;
  color: #5e6062;
  font-family: sourcesans;
  font-size: 17px;
  line-height: 1.45;
}

@include preMargin(h1, 1.6em);
@include preMargin(h2, 1.4em);
@include preMargin(h3, 1.2em);
@include preMargin(h4, 1.1em);

h1 {
  color: #2c558c;
  font-size: 40px;
}

h2 {
  color: #5e6062;
  font-size: 24px;
}

h3 {
  border-bottom: 2px solid #b2bddf;
  margin-bottom: 0.75em;
  padding-bottom: 0.60em;
  color: #5e6062;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  color: #141f41;
  font-size: 17px;
}

p, ul, ol,
h1, h2, h3,
h4, h5, h6 {
  margin-bottom: 0.8em;
}

a {
  color: #1b2955;
  text-decoration: none;
  &:hover { color: lighten(#1b2955, 15); }
}

ul, ol {
  margin-left: 30px;
}

// layout
.inner {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 10px;
}

.cols-wrap {
  letter-spacing: -0.31em;
}

.col {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}

.extra-inner {
  padding: 0 2.85%;
}

.outer {
  width: 100%;
}

.header-outer {
  @extend .outer;
  @include linear-gradient(top, #f3f6fa 0%, #f0f4f9 33%, #ebf0f7 54%, #e4ebf4 71%, #d0dceb 100%);
}

header {
  @extend .inner;
}

.top-banner {
  background: #3b72b8;
  color: #fff;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 2px 1px #275ea5;
  padding: 0.85em 3.25% 0.75em;

  h1 {
    @extend .site-title;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 21px;
    margin-bottom: 0;
  }
}

.site-title {
  line-height: 1.2;
  padding-left: 1.38em;
  text-indent: 0.1em;
  position: relative;

  &:before {
    -webkit-font-smoothing: antialiased;
    content: "\269e";
    font-family: icons;
    font-size: 17px;

    position: absolute;
    left: -0.1em;
    top: 2px;
  }
}

a.top-banner {
  @include transition(all ease-in-out 0.4s);
  cursor: pointer;
  letter-spacing: 0.03em;
  opacity: 0.85;

  &:hover {
    color: #fff;
    opacity: 1;

    .back-wrap { max-width: 260px; }
    .site-title { max-width: 1em; }
  }

  .back,
  .site-title {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    white-space: nowrap;
  }

  .back-wrap {
    @include transition(all ease-in-out 0.42s);
  }

  .site-title {
    @include transition(all ease-in-out 0.3s);
    color: #e0e9f5;
    max-width: 400px;
    overflow: hidden;

    &:before {
      font-size: 16px;
      top: 0;
    }
  }
}

.intro {
  @extend .extra-inner;

  font-size: 0;
  margin-bottom: 0;
  padding-bottom: 2.2%;
  padding-top: 4.5%;
  position: relative;

  h1, h2 {
    line-height: 1;
    margin-bottom: 5px;
    width: 70%;
  }

  h2 { font-weight: normal; }

  p {
    display: inline-block;
    font-size: 17px;
    vertical-align: middle;
  }

  .desc { width: 80%; }
  .about-btn-wrap {
    text-align: right;
    white-space: nowrap;
    width: 20%;
  }
}

.main-outer {
  background: #f9fafb;
}

.main {
  @extend .inner;

  min-height: 250px;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.footer-outer {
  @extend .outer;
  background: #e7edf6;
  padding: 18px 0 15px;
}

footer {
  @extend .inner;
}

.logo {
  max-width: 180px;
}

// modules
.flat-btn {
  background: #c0d1e5;
  color: #3b72b8;
  font-size: 13px;
  font-weight: bold;
  padding: 0.55em 1.2em 0.45em;
  text-transform: uppercase;

  &:hover { background: darken(#c0d1e5, 5); }
}

.flat-btn-preview {
  -webkit-font-smoothing: antialiased;
  background: #3b72b8;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 0.55em 1.2em 0.45em;
  position: relative;
  text-align: left;

  &:hover { background: darken(#3b72b8, 5); color: #fff; }
  &:after {
    content: "\2192";
    font-family: icons;
    font-size: 12px;
    margin-top: -7px;

    position: absolute;
    right: 1.6em;
    top: 50%;
  }

  &.heading {
    display: none;
    margin-bottom: 1.5em;
  }
}

.plain {
  list-style-type: none;
  margin-left: 0;
}

.classy-list {
  @extend .plain;
  li {
    border-bottom: 1px solid #afc7e6;
    &:last-child { border-bottom-width: 0; }
  }
}

.classy-list-item {
  display: block;
  font-size: 0;
  padding: 2.8%;

  &:hover {
    background: #e1ebf9;
    .classy-list-title { color: #002495; }
  }
}

.classy-list-title,
.classy-list-desc {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

.classy-list-title {
  font-weight: bold;
  margin-right: 5%;
  padding-right: 10%;
  width: 55%;
}

.classy-list-desc {
  width: 40%;
}

.back-wrap {
  // @include transition(all, linear, 0.5s);
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  max-width: 0;
  vertical-align: middle;
  overflow: hidden;
}

.back {
  line-height: 1.2;
  // margin-top: -1px;
  padding-left: 1.8em;
  padding-right: 0.65em;
  position: relative;
  text-align: right;

  &:before {
    -webkit-font-smoothing: antialiased;
    content: "\2190";
    display: inline-block;
    font-family: icons;
    font-size: 12px;
    margin-top: -1px;
    vertical-align: middle;

    position: absolute;
    left: 0;
    top: 3px;
  }
}

.book-wrap {
  @extend .extra-inner, .cols-wrap;
}

.book-infos {
  @extend .col;
  display: inline-block;
  margin-right: 10%;
  width: 60%;
}

.book-preview {
  @extend .col;

  text-align: right;
  width: 30%;

  .flat-btn-preview,
  .book-thumb {
    max-width: 200px;
    width: 100%;
  }

  .book-thumb {
    margin-top: -100px;
  }

  .flat-btn-preview {
    padding-right: 3em;
  }
}

.book-thumb {
  border: 1px solid #fff;
  box-shadow: 1px 2px 4px #6680a2;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 500px) {
  .intro {
    .desc, .about-btn-wrap { width: 100%; }
  }

  .classy-list-title {
    padding-right: 0;
  }

  .book-infos,
  .book-preview {
    margin-right: 0;
    width: 100%;
  }

  .flat-btn-preview {
    display: block !important;
    max-width: none !important;
  }

  .book-thumb { display: none; }

  a.top-banner {
    .site-title {
      max-width: none !important;
      white-space: normal;
    }
    .back-wrap { display: none; }

    .site-title,
    .back-wrap {
      @include transition(none);
    }
  }
}